<header class="topo">
	
	<button class="menu-botao" id="menuBotao">☰</button>
	<nav class="menu" id="menu">
        
        <div id="menu_container">
            <a class="menu_link" href="../index.html">Home</a>
            <a class="menu_link" href="catalogo.html">Catalogo</a>
            <a class="menu_link" href="adicionar.html">Cadastrar Livro</a>
            <a class="menu_link" href="emprestimo.html">Cadastrar Empréstimo</a>
            <a class="menu_link" href="devolucao.html">Empréstimos Ativos</a>
            <a class="menu_link" href="historico.html">Histórico de Empréstimos</a>
        </div>
        
    </nav>
</header>