<header class="topo">
	
	<button class="menu-botao" id="menuBotao">☰</button>
	<nav class="menu" id="menu">
        
        <div id="menu_container">
            <a class="menu_link" href="index.html">Home</a>
            <a class="menu_link" href="catalogo.html">Catalogo</a>
            <a class="menu_link" href="adicionar.html">Cadastrar livro</a>
            <a class="menu_link" href="emprestimo.html">Reservar livro</a>
            <a class="menu_link" href="consulta.html">livros alugados</a>
            <a class="menu_link" href="devolucao.html">Devolver livro</a>
            
            
        </div>
        
    </nav>
</header>